
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}

.container {
    text-align: center;
    background-color: #ffffff;
    margin: 20px;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
}

h2 {
    color: #4285f4;
}




a {
    color: #4285f4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    color: #333;
}
