body{ font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flexbox;
    margin-top: 200px;
  
    

}
h1 {
  color: #333;
  text-align: center;
  margin-right: 15px;
  
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
  width: 250px;
  
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

